h1,
h2,
h3 {
  margin: auto;
  text-align: center;
}
p {
  text-align: center;
  font-size: 200%;
}

body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.temperature {
  margin: auto;
  text-align: center;
  font-size: 200%;
}
.unit {
  font-size: 50%;
  position: relative;
  top: -34px;
}
.card-header {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 200%;
}

.card-text {
  font-size: 25px;
}
