h1 {
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}
h2 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
p {
  text-align: center;
  font-size: 200%;
}

body {
  font-family: arial, sans-serif;
  display: block;
}
.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 30px auto;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}
.overview-icon {
  text-align: center;
  font-size: 1000%;
  margin-top: -50px;
}
.description {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}
.temperature {
  margin: auto;
  text-align: center;
  font-size: 200%;
}
.unit {
  font-size: 50%;
  position: relative;
  top: -34px;
}
.card-header {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 200%;
}

.card-text {
  font-size: 25px;
}
