h1 {
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
p {
  text-align: center;
  font-size: 200%;
}

body {
  display: block;
}
ul {
  font-size: 15px;
  font-style: italic;
}

.submit {
  background-color: #74b49b;
  border-color: #74b49b;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.enter {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn {
  background-color: #f4adad;
  border-color: #f4adad;
}
.btn-success:hover {
  background-color: #c56868;
  border-color: #c56868;
}
.source {
  margin-top: 40px;
  text-align: center;
  font-size: small;
}
.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 30px auto;
  background: #bbe4e9;
}

.overview-icon {
  text-align: center;
  font-size: 800%;
  margin-top: -50px;
  font-weight: 400%;
}
.description {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
}

.temperature {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
  margin: auto;
  text-align: center;
  font-size: 200%;
}

.temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.card-header {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 200%;
}

.card-text {
  font-size: 25px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
